
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/
gen/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android
/android/app/src/main/assets/flutter_assets/
/android/app/src/main/java/io/flutter/plugins/
/android/app/src/main/jniLibs/
/android/app/build/
/android/app/profile/
/android/app/release/
/android/app/intermediates/
/android/app/outputs/
/android/app/generated/
/android/app/src/main/res/
/android/key.properties
/android/local.properties
/android/.gradle/
/android/gradle/
/android/gradlew
/android/gradlew.bat
/android/build/
/android/gradle-wrapper.jar

# iOS
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/snapshot_blob.bin
/ios/Flutter/vm_snapshot_data
/ios/Flutter/isolate_snapshot_data
/ios/Flutter/vm_snapshot_instr
/ios/Flutter/isolate_snapshot_instr
/ios/Flutter/flutter_assets/
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Runner/AppDelegate.swift
/ios/Runner/Runner-Bridging-Header.h
/ios/Runner/Info.plist
/ios/Runner/main.m
/ios/Runner/Base.lproj/LaunchScreen.storyboard
/ios/Runner/Base.lproj/Main.storyboard
/ios/Runner.xcworkspace/
/ios/Runner.xcodeproj/project.xcworkspace/
/ios/Runner.xcodeproj/xcuserdata/
/ios/Pods/
/ios/.symlinks/
/ios/DerivedData/

# Web
/web/
/lib/generated_plugin_registrant.dart

# Windows
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugins.cmake
/windows/runner/flutter_window.cpp
/windows/runner/flutter_window.h
/windows/runner/main.cpp
/windows/runner/utils.cpp
/windows/runner/utils.h
/windows/runner/win32_window.cpp
/windows/runner/win32_window.h
/windows/runner/resource.h
/windows/runner/resources/app_icon.ico
/windows/runner/runner.exe
/windows/runner/runner.exp
/windows/runner/runner.lib
/windows/runner/runner.pdb
/windows/runner/flutter_export.h
/windows/runner/flutter_messenger.h
/windows/runner/flutter_plugin_registrar.h
/windows/runner/flutter_texture_registrar.h
/windows/runner/flutter_window_controller.h
/windows/runner/plugin_registrar.h
/windows/runner/plugin_registry.h
/windows/runner/standard_codec.h
/windows/runner/texture_registrar.h
/windows/runner/window_configuration.h

# Linux
/linux/flutter/generated_plugin_registrant.cc
/linux/flutter/generated_plugins.cmake
/linux/runner/main.cc
/linux/runner/flutter_window.cc
/linux/runner/flutter_window.h
/linux/runner/native_window.cc
/linux/runner/native_window.h
/linux/runner/im_client.cc
/linux/runner/im_client.h
/linux/runner/key_event_handler.cc
/linux/runner/key_event_handler.h
/linux/runner/mouse_cursor_handler.cc
/linux/runner/mouse_cursor_handler.h
/linux/runner/text_input_handler.cc
/linux/runner/text_input_handler.h
/linux/runner/window_decoration.cc
/linux/runner/window_decoration.h
/linux/main.cc
/linux/my_application.cc
/linux/my_application.h

# macOS
/macos/Flutter/GeneratedPluginRegistrant.swift
/macos/Flutter/Flutter-Debug.xcconfig
/macos/Flutter/Flutter-Release.xcconfig
/macos/Flutter/Generated.xcconfig
/macos/Flutter/ephemeral/
/macos/Flutter/Flutter.podspec
/macos/Runner/AppDelegate.swift
/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/macos/Runner/Base.lproj/MainMenu.xib
/macos/Runner/Configs/AppInfo.xcconfig
/macos/Runner/Configs/Debug.xcconfig
/macos/Runner/Configs/Release.xcconfig
/macos/Runner/Configs/Warnings.xcconfig
/macos/Runner/DebugProfile.entitlements
/macos/Runner/Release.entitlements
/macos/Runner.xcodeproj/project.xcworkspace/
/macos/Runner.xcodeproj/xcuserdata/
/macos/Runner/Info.plist
/macos/Pods/
/macos/.symlinks/
/macos/DerivedData/

# Backend
backend/venv/
backend/__pycache__/
